<h1>発言一覧</h1>

<p><%= notice %> </p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>発言</th>
      <th>発言時間</th>
    </tr>
  </thead>
  <tbody>
    <% @mentions.each  do |mention| %>
    <tr>
      <td><%= mention.content %></td>
      <td><%= mention.created_at.to_s(:datetime)  %></td>
      <td><%= link_to "編集する", edit_mention_path(mention.id) %></td>
      <td><%= link_to "削除する", mention_path(mention.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>